<h1>New Question</h1>

<%= form_with scope: :question, url: questions_path, local: true do |form| %>
<p>
  <%= form.label :question_title %><br>
  <%= form.text_field :question_title %>
</p>

<p>
  <%= form.label :question_details %><br>
  <%= form.text_area :question_details %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>
